H1{
color:steelblue;
text-align:center;
font-size:250%;
font-weight:bolder;
text-decoration:underline;
line-height:0.5;
}
hidden{
display:none;
}
H2{
color:slategray;
text-align:center;
font-size:150%;
font-weight:bold;}
T1{
color:white;
text-align:center;
font-weight:bolder;
}
aside{
float:right;
width:200px;
background:steelblue;
color:white;
font-weight:bold;
padding:10px;
}
T2{
color:dimgray;
text-align:left;
font-weight:bold;
font-size:105%;
}
A:visited{
color:steelblue;
}
A:active{
color:red;
}
